@font-face {
  font-family: "Niramit";
  src: url("/fonts/Niramit-Regular.ttf") format("truetype");
  font-display: swap;
}

body {
  font-family: "Niramit", sans-serif;
}
.MuiDataGrid-root {
  --DataGrid-t-color-border-base: transparent !important;
}
.MuiDataGrid-root {
  --DataGrid-t-header-background-base: transparent !important;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 1000px #ffffff00 inset !important;
  -webkit-text-fill-color: #fff !important;
  transition: background-color 5000s ease-in-out 0s;
}